#pictureReversed {
  -ms-transform: scale(-1);
  -webkit-transform: scale(-1);
  transform: scale(-1);
}
.img-header {
  height: 300px;
  margin-top: 20px;
  filter: drop-shadow(0 0 32px rgba(22, 241, 190, 1))
    drop-shadow(0 0 64px rgba(0, 102, 204, 0.9));
  transition: filter 0.5s cubic-bezier(0.4, 2, 0.6, 1),
    transform 0.5s cubic-bezier(0.4, 2, 0.6, 1);
  animation: img-glow 2s ease-in-out infinite alternate;
}

.img-header:hover {
  filter: drop-shadow(0 0 64px rgba(22, 241, 190, 1))
    drop-shadow(0 0 128px rgba(0, 102, 204, 1));
  transform: scale(1.07) rotate(-2deg);
  animation: none; /* Pause animation on hover for effect */
}

#pictureReversed.img-header:hover {
  filter: drop-shadow(0 0 64px rgba(22, 241, 190, 1))
    drop-shadow(0 0 128px rgba(0, 102, 204, 1));
  /* Combine both transforms */
  transform: scale(-1) scale(1.07) rotate(-2deg);
  animation: none;
}

@keyframes img-glow {
  from {
    filter: drop-shadow(0 0 32px rgba(22, 241, 190, 1))
      drop-shadow(0 0 64px rgba(0, 102, 204, 0.9));
  }
  to {
    filter: drop-shadow(0 0 64px rgba(22, 241, 190, 1))
      drop-shadow(0 0 128px rgba(0, 102, 204, 1));
  }
}
